<app-header></app-header>
<body>
    <p><br><br></p>
  <div class="card px-5 py-3">
  <!-- Display of all the athletes -->
  <div class="container px-5 py-3" *ngIf=State>
    <div class="card px-5 py-3">
      <li *ngFor="let item of GroupsArray">
        <div class="row">
          <div class="col-sm-8 p-3">
            <div class="row">
              <div class="col-sm">
                <span class="col-3"> <i class="material-icons">supervisor_account</i>{{item.name}} <br>
                </span>
                <span class="right"><button class="btn" (click)="joinGroup(item.name, $event)" style="float: right;">Unirse</button></span>
              </div>
            </div>
          </div>
        </div>
      </li>
    </div>
  </div>
</div>
</body>
<app-footer></app-footer>