<app-header></app-header>

<body>
    <div class="container">
      <div class="row d-flex align-items-center justify-content-left">
        <div class="col-md-6">
          <div class="card px-5 py-3">
  
            <!--Section about Register users -->
            <h3 class="mt-3">Creación de actividades</h3>

            <div>
              <label for="tipo">Seleccione a qué pertenece su actividad</label>
              <div>
                <input type="radio" id="yes" name="radiogroup" value="Challenge" (change)="radioSelect($event)">
                <label for="yes">Reto</label>
              </div>
              <div>
                <input type="radio" id="no" name="radiogroup" value="Competition" (change)="radioSelect($event)">
                <label for="no">Competencia</label>
              </div>
              <div>
                <input type="radio" id="no" name="radiogroup" value="None" (change)="radioSelect($event)">
                <label for="no">Ninguno</label>
              </div>
            </div>  

            <div class="isChallenge" *ngIf="(eventType == 'Challenge')">
              <label>Seleccione el reto asociado a su actividad</label>
              <select class="form-control"
                      name="challenge"
                      id="challenge"
                      [(ngModel)]="challengeSelected"
                      #nBC = "ngModel"
                      required 
                      (change)="getChallengeInfo()">
                <option *ngFor="let list of challengesArray; index as i" value="{{list.ChallengeID}}">{{list.ChallengeID}}</option>
              </select>
              <form name="form" (ngSubmit)="f.form.valid && createActivity()" #f="ngForm" *ngIf=haveSelectedChallenge>
                <div class="form-input">
                  <i class="material-icons">edit</i>
                  <input type="text" class="form-control" placeholder="Título de la actividad"
                  [(ngModel)]="activity.name" name="Nombre" #name = "ngModel"
                  [ngClass]="{'is-invalid':f.submitted && name.invalid}"
                  required>
                </div>
                <div class="form-input">
                  <i class="material-icons">assignment</i>
                  <input type="text" class="form-control" placeholder="ID de la actividad"
                  [(ngModel)]="activity.id" name="id" #name = "ngModel"
                  [ngClass]="{'is-invalid':f.submitted && name.invalid}"
                  required>
                </div>
                <div class="form-input">
                  <i class="material-icons">event</i>
                  <input type="datetime-local" class="form-control" placeholder="Fecha y Hora"
                  [(ngModel)]="activity.date" name="Fecha" #name = "ngModel"
                  [ngClass]="{'is-invalid':f.submitted && name.invalid}"
                  required>
                </div>
                <div class="form-input">
                  <i class="material-icons">timer</i>
                  <input type="time" step="1" class="form-control" placeholder="Duración"
                  [(ngModel)]="activity.duration" name="Duracion" #name = "ngModel"
                  [ngClass]="{'is-invalid':f.submitted && name.invalid}"
                  required>
                </div>
                <div class="form-input">
                  <i class="material-icons">directions_run</i>
                  <input type="number" class="form-control" placeholder="Kilometraje"
                  [(ngModel)]="activity.kilometers" name="Kilometraje" #name = "ngModel"
                  [ngClass]="{'is-invalid':f.submitted && name.invalid}"
                  required>
                </div>
                <div class="form-input">
                  <label for="tipo">Tipo de Actividad</label>
                  <select class="form-control" id="type" name="type">
                      <option value={{currentChallenge.Type}}>{{currentChallenge.Type}}</option>
                    </select>
              </div>
                <div class="form-input text-center">
                  <button class="btn mt-4">Crear Actividad</button>
                </div>
              </form>
            </div>
            <div class="isChallenge" *ngIf="(eventType == 'Competition')">
              <label>Seleccione la carrera asociada a su actividad</label>
              <select class="form-control"
                      name="challenge"
                      id="challenge"
                      [(ngModel)]="competitionSelected"
                      #nBC = "ngModel"
                      required 
                      (change)="getCompetitonInfo()">
                <option *ngFor="let list of competitionsArray; index as i" value="{{list.CompetitionID}}">{{list.CompetitionID}}</option>
              </select>
              <form name="form" (ngSubmit)="f.form.valid && createActivity()" #f="ngForm" *ngIf=haveSelectedCompetition>
                <div class="form-input">
                  <i class="material-icons">edit</i>
                  <input type="text" class="form-control" value={{currentCompetition.Name}} readonly>
                </div>
                <div class="form-input">
                  <i class="material-icons">assignment</i>
                  <input type="text" class="form-control" placeholder="ID de la actividad"
                  [(ngModel)]="activity.id" name="id" #name = "ngModel"
                  [ngClass]="{'is-invalid':f.submitted && name.invalid}"
                  required>
                </div>
                <div class="form-input">
                  <i class="material-icons">event</i>
                  <input type="datetime-local" class="form-control" value={{currentCompetition.Date}} readonly>
                </div>
                <div class="form-input">
                  <i class="material-icons">timer</i>
                  <input type="time" step="1" class="form-control" placeholder="Duración"
                  [(ngModel)]="activity.duration" name="Duracion" #name = "ngModel"
                  [ngClass]="{'is-invalid':f.submitted && name.invalid}"
                  required>
                </div>
                <div class="form-input">
                  <i class="material-icons">speed</i>
                  <input type="number" class="form-control" placeholder="Kilometraje"
                  [(ngModel)]="activity.kilometers" name="Kilometraje" #name = "ngModel"
                  [ngClass]="{'is-invalid':f.submitted && name.invalid}"
                  required>
                </div>
                <div class="form-input">
                  <label for="tipo">Tipo de Actividad</label>
                  <select class="form-control" id="type" name="type">
                      <option value={{activityCompetition.type}}>{{activityCompetition.type}}</option>
                    </select>
              </div>
                <div class="form-input text-center">
                  <button class="btn mt-4">Crear Actividad</button>
                </div>
              </form>
            </div>
            <form name="form" (ngSubmit)="f.form.valid && createActivity()" #f="ngForm" *ngIf="(eventType == 'None')">
              <div class="form-input">
                <i class="material-icons">edit</i>
                <input type="text" class="form-control" placeholder="Título de la actividad"
                [(ngModel)]="activity.name" name="Nombre" #name = "ngModel"
                [ngClass]="{'is-invalid':f.submitted && name.invalid}"
                required>
              </div>
              <div class="form-input">
                <i class="material-icons">assignment</i>
                <input type="text" class="form-control" placeholder="ID de la actividad"
                [(ngModel)]="activity.id" name="id" #name = "ngModel"
                [ngClass]="{'is-invalid':f.submitted && name.invalid}"
                required>
              </div>
              <div class="form-input">
                <i class="material-icons">event</i>
                <input type="datetime-local" class="form-control" placeholder="Fecha y Hora"
                [(ngModel)]="activity.date" name="Fecha" #name = "ngModel"
                [ngClass]="{'is-invalid':f.submitted && name.invalid}"
                required>
              </div>
              <div class="form-input">
                <i class="material-icons">timer</i>
                <input type="time" step="1" class="form-control" placeholder="Duración"
                [(ngModel)]="activity.duration" name="Duracion" #name = "ngModel"
                [ngClass]="{'is-invalid':f.submitted && name.invalid}"
                required>
              </div>
              <div class="form-input">
                <i class="material-icons">speed</i>
                <input type="number" class="form-control" placeholder="Kilometraje"
                [(ngModel)]="activity.kilometers" name="Kilometraje" #name = "ngModel"
                [ngClass]="{'is-invalid':f.submitted && name.invalid}"
                required>
              </div>
              <div class="form-input">
                <label for="tipo">Tipo de Actividad</label>
                <select class="form-control" id="type" name="type" [(ngModel)]="activity.type" #type = "ngModel" required>
                    <option value="Caminata">Caminata</option>
                    <option value="Correr">Correr</option>
                    <option value="CrossFit">CrossFit</option>
                    <option value="Natación">Natación</option>
                    <option value="Ciclismo">Ciclismo</option>
                    <option value="Senderismo">Senderismo</option>
                    <option value="Kayak">Kayak</option>
                  </select>
            </div>
              <div class="form-input text-center">
                <button class="btn mt-4">Crear Actividad</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  
  </body>
  <app-footer></app-footer>
  