<app-header></app-header>
<body>
  <div class="container">
    <div class="row d-flex align-items-center justify-content-left">
      <div class="col-md-6">
        <div class="card px-5 py-3">

          <!--Section about Register users -->
          <form name="form" (ngSubmit)="f.form.valid" #f="ngForm">
            <h3 class="mt-3">Creación de Carreras <br> Gracias por utilizar StraviaTEC</h3>
            <small class="mt-2">Hacer ejercicio ayuda a tu salud física y mental</small>
            
            <div class="form-input">
              <i class="material-icons">flag</i>
              <input type="text" class="form-control" placeholder="Nombre"
              [(ngModel)]="competition.name" name="Nombre" #name = "ngModel"
              [ngClass]="{'is-invalid':f.submitted && name.invalid}"
              required>
            </div>
            <div class="form-input">
                <i class="material-icons">insert_comment</i>
                <input type="text" class="form-control" placeholder="ID de la carrera"
                [(ngModel)]="competition.id" name="ID" #name = "ngModel"
                [ngClass]="{'is-invalid':f.submitted && name.invalid}"
                required>
            </div>
            <div class="form-input">
              <i class="material-icons">attach_money</i>
              <input type="text" class="form-control" placeholder="Costo de la Carrera"
              [(ngModel)]="competition.price" name="price" #name = "ngModel"
              [ngClass]="{'is-invalid':f.submitted && name.invalid}"
              required>
          </div>
            <div class="form-input">
                <i class="material-icons">calendar_today</i>
                <input type="datetime-local" class="form-control" placeholder="Fecha de la carrera"
                [(ngModel)]="competition.date" name="Date" #name = "ngModel"
                [ngClass]="{'is-invalid':f.submitted && name.invalid}"
                required>
            </div>
            <div class="form-input">
                <i class="material-icons">attach_file</i>
                <input type="file" (change)="onChange($any($event.target).files)">
            </div>
            <div class="form-input">
              <i class="material-icons">attach_money</i>
              <input type="text" class="form-control" placeholder="Cuenta Bancaria"
              [(ngModel)]="competition.bankaccount" name="BankAccount" #name = "ngModel"
              [ngClass]="{'is-invalid':f.submitted && name.invalid}"
              required>
            </div>
            <label for="tipo">Privacidad de la Carrera</label>
            <div class="form-input">
              <i class="material-icons">lock</i>
              <select class="form-control" id="type" name="type" [(ngModel)]="competition.privacy" #type = "ngModel" required>
                  <option value="public">Pública</option>
                  <option value="private">Privada</option>
                </select>
            </div>
            <label for="tipo">Actividad Asociada a la carrera</label>
            <div class="form-input">
              <i class="material-icons">insert_comment</i>
              <input type="text" class="form-control" placeholder="ID de la actividad"
              [(ngModel)]="associatedActivity.id" name="Name" #name = "ngModel"
              [ngClass]="{'is-invalid':f.submitted && name.invalid}"
              required>
            </div>
            <div class="form-input">
              <i class="material-icons">timer</i>
              <input type="time" step="1" class="form-control" placeholder="Duración"
              [(ngModel)]="associatedActivity.duration" name="Duracion" #name = "ngModel"
              [ngClass]="{'is-invalid':f.submitted && name.invalid}"
              required>
            </div>
            <div class="form-input">
              <i class="material-icons">directions_run</i>
              <input type="number" class="form-control" placeholder="Kilometraje"
              [(ngModel)]="associatedActivity.kilometers" name="Kilometraje" #name = "ngModel"
              [ngClass]="{'is-invalid':f.submitted && name.invalid}"
              required>
            </div>
            <label for="tipo">Tipo de Actividad</label>
            <div class="form-input">
              <i class="material-icons">list</i>
              <select class="form-control" id="type" name="type" [(ngModel)]="associatedActivity.type" #type = "ngModel" required>
                  <option value="Caminata">Caminata</option>
                  <option value="Correr">Correr</option>
                  <option value="CrossFit">CrossFit</option>
                  <option value="Natación">Natación</option>
                  <option value="Ciclismo">Ciclismo</option>
                  <option value="Senderismo">Senderismo</option>
                  <option value="Kayak">Kayak</option>
                </select>
          </div>
          <label for="tipo">Patrocinador a cargo de la carrera</label>
          <form [formGroup]="registerFormS">
            <div class="form-input">
              <i class="material-icons">insert_comment</i>
              <input type="text" class="form-control" placeholder="Nombre del Patrocinador" formControlName="name"
              required>
            </div>
  
            <div class="form-input">
              <i class="material-icons">insert_comment</i>
              <input type="text" class="form-control" placeholder="Cédula Jurídica del Patrocinador" formControlName="id"
              required>
            </div>
            <div class="form-input">
                <i class="material-icons">attach_money</i>
                <input type="text" class="form-control" placeholder="Cuenta Bancaria" formControlName="bankaccount"
                required>
            </div>
          </form>
          <button class="btn col-1 col-7" (click)="addSponsor()">Agregar otro patrocinador</button>
          <form [formGroup]="registerFormS2">
            <div formArrayName="Sponsors" *ngFor="let sponsor of sponsors.controls; let i = index">
              <div [formGroupName]="i" >
                <div class="form-input">
                  <i class="material-icons">insert_comment</i>
                  <input type="text" [attr.id]="'name' + i" class="form-control" formControlName="name" placeholder="Nombre del Patrocinador"
                  required>
                </div>
                <div class="form-input">
                  <i class="material-icons">insert_comment</i>
                  <input type="text" [attr.id]="'id' + i" class="form-control" formControlName="id" placeholder="Cédula Jurídica"
                  required>
                </div>
                <div class="form-input">
                  <i class="material-icons">insert_comment</i>
                  <input type="text" [attr.id]="'bankaccount' + i" class="form-control" formControlName="bankaccount" placeholder="Cuenta Bancaria"
                  required>
                </div>
                <button class="btn col-7 col-9" (click)="removeSponsor(i)">Eliminar</button>
              </div>
            </div>
          </form>
          <form [formGroup]="registerForm">
            <div>
              <label for="Category">Seleccione la categoría o las categorías</label>    
              <div class="form-input">
                  <i class="material-icons">list</i>
                  <select class="form-control" id="Category" name="category" formControlName="category">
                    <option value="Junior">Junior</option>
                    <option value="Sub-23">Sub-23</option>
                    <option value="Open">Open</option>
                    <option value="Elite">Elite</option>
                    <option value="Master A">Master A</option>
                    <option value="Master B">Master B</option>
                    <option value="Master C">Master C</option>
                  </select>
              </div>
              
            </div>
            <form [formGroup]="registerForm2">
              <div formArrayName="Categories" *ngFor="let category of categories.controls; let i = index">
                  <div [formGroupName]="i">
                      <div class="row">
                          <div class="col-1 col-7">
                              <select class="form-control" [attr.id]="'category' + i" formControlName="category"> 
                                <option value="Junior">Junior</option>
                                <option value="Sub-23">Sub-23</option>
                                <option value="Open">Open</option>
                                <option value="Elite">Elite</option>
                                <option value="Master A">Master A</option>
                                <option value="Master B">Master B</option>
                                <option value="Master C">Master C</option>
                              </select>   
                          </div>
                            <button class="btn col-7 col-9" (click)="removeCategory(i)">Eliminar</button>
                      </div>
                      <br>
                  </div>
              </div>
          </form>
          </form>
            <div class="form-input text-center">
              <div class="row6">
                <button class="btn col-1 col-4" (click)="addActivity()">Agregar Carrera</button>
                <button class="btn col-1 col-7" (click)="addCategories()">Agregar otra Categoría</button>
              </div>
            </div>
              
          </form>
          
        </div>
      </div>
    </div>
  </div>

</body>
<app-footer></app-footer>