<app-header></app-header>
<body>
  <div class="container">
    <div class="row d-flex align-items-center justify-content-left">
      <div class="col-md-6">
        <div class="card px-5 py-3">

          <!--Section about Register users -->
          <form name="form" (ngSubmit)="f.form.valid && addCompetition()" #f="ngForm">
            <h5 class="mt-3">Creación de Carreras <br> Gracias por utilizar StraviaTEC</h5>
            <small class="mt-2">Hacer ejercicio ayuda a tu salud física y mental</small>
            
            <div class="form-input">
              <i class="material-icons">account_circle</i>
              <input type="text" class="form-control" placeholder="Nombre"
              [(ngModel)]="competition.Name" name="Nombre" #name = "ngModel"
              [ngClass]="{'is-invalid':f.submitted && name.invalid}"
              required>
            </div>
            <div class="form-input">
                <i class="material-icons">account_circle</i>
                <input type="text" class="form-control" placeholder="ID de la carrera"
                [(ngModel)]="competition.ID" name="ID" #name = "ngModel"
                [ngClass]="{'is-invalid':f.submitted && name.invalid}"
                required>
            </div>
            <div class="form-input">
                <i class="material-icons">lock</i>
                <input type="datetime-local" class="form-control" placeholder="Fecha de la carrera"
                [(ngModel)]="competition.Date" name="Date" #name = "ngModel"
                [ngClass]="{'is-invalid':f.submitted && name.invalid}"
                required>
            </div>
            <div class="form-input">
                <i class="material-icons">push_pin</i>
                <input type="file" class="form-control" placeholder="Ruta"
                [(ngModel)]="competition.Route" name="Route" #name = "ngModel"
                [ngClass]="{'is-invalid':f.submitted && name.invalid}"
                required>
            </div>
            <div class="form-input">
              <i class="material-icons">lock</i>
              <input type="text" class="form-control" placeholder="#### - #### - #### - ####"
              [(ngModel)]="competition.BankAccount" name="BankAccount" #name = "ngModel"
              [ngClass]="{'is-invalid':f.submitted && name.invalid}"
              required>
            </div>
            <div class="form-input">
              <label for="tipo">Privacidad de la Carrera</label>
              <select class="form-control" id="type" name="type" [(ngModel)]="competition.Privacy" #type = "ngModel" required>
                  <option value="public">Pública</option>
                  <option value="private">Privada</option>
                </select>
            </div>
            <div class="form-input">
              <label for="tipo">Actividad Asociada a la carrera</label>
              <input type="text" class="form-control" placeholder="Nombre de la actividad"
              [(ngModel)]="associatedActivity.Name" name="Name" #name = "ngModel"
              [ngClass]="{'is-invalid':f.submitted && name.invalid}"
              required>
            </div>
            <div class="form-input">
              <input type="text" class="form-control" placeholder="ID de la actividad"
              [(ngModel)]="associatedActivity.ID" name="Name" #name = "ngModel"
              [ngClass]="{'is-invalid':f.submitted && name.invalid}"
              required>
            </div>
            <div class="form-input">
              <i class="material-icons">timer</i>
              <input type="time" step="1" class="form-control" placeholder="Duración"
              [(ngModel)]="associatedActivity.Duration" name="Duracion" #name = "ngModel"
              [ngClass]="{'is-invalid':f.submitted && name.invalid}"
              required>
            </div>
            <div class="form-input">
              <i class="material-icons">speed</i>
              <input type="number" class="form-control" placeholder="Kilometraje"
              [(ngModel)]="associatedActivity.Kilometers" name="Kilometraje" #name = "ngModel"
              [ngClass]="{'is-invalid':f.submitted && name.invalid}"
              required>
            </div>
            <div class="form-input">
              <label for="tipo">Tipo de Actividad</label>
              <select class="form-control" id="type" name="type" [(ngModel)]="associatedActivity.Type" #type = "ngModel" required>
                  <option value="Caminata">Caminata</option>
                  <option value="Correr">Correr</option>
                  <option value="CrossFit">CrossFit</option>
                  <option value="Natación">Natación</option>
                  <option value="Ciclismo">Ciclismo</option>
                  <option value="Senderismo">Senderismo</option>
                  <option value="Kayak">Kayak</option>
                </select>
          </div>
          <form [formGroup]="registerForm">
            <div>    
              <div class="form-group">
                <label for="Category">Seleccione la categoria</label>
                  <select class="form-control" id="Category" name="Category" formControlName="Category">
                    <option value="Junior">Junior</option>
                    <option value="Sub-23">Sub-23</option>
                    <option value="Elite">Elite</option>
                    <option value="Master A">Master A</option>
                    <option value="Master B">Master B</option>
                    <option value="Master C">Master C</option>
                  </select>
              </div>
              
            </div>
            <form [formGroup]="registerForm2">
              <div formArrayName="Category" *ngFor="let category of categories.controls; let i = index">
                  <div [formGroupName]="i">
                      <div>
                          <div>
                              <select class="form-control" [attr.id]="'Category' + i" formControlName="Category"> 
                                <option value="Junior">Junior</option>
                                <option value="Sub-23">Sub-23</option>
                                <option value="Elite">Elite</option>
                                <option value="Master A">Master A</option>
                                <option value="Master B">Master B</option>
                                <option value="Master C">Master C</option>
                              </select>
                          </div>
                          <div class="col-md-1">
                              <br>
                              <button class="btn btn-danger" (click)="removeCategory(i)">Eliminar Categoría</button>
                          </div>
                      </div>
                  </div>
              </div>
          </form>
          </form>
            <div class="form-input text-center">
              <div class="row6">
                <button class="btn col-1 col-4">Agregar Carrera</button>
                <button class="btn col-1 col-7" (click)="addCategories()">Agregar otra Categoría</button>
              </div>
            </div>
              
          </form>
          
        </div>
      </div>
    </div>
  </div>

</body>
<app-footer></app-footer>