<app-header></app-header>

<body>
<br><br><br>

<!-- Main Body -->
<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-5 col-md-6 col-12 pb-4">
                <h2>Comentarios</h2>
                <div class="comment mt-4 text-justify float-left" *ngFor="let item of commentsArray">
                    <h4>{{item.athleteID}}</h4>
                    <br>
                    <p>{{item.text}}</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-5 col-sm-4 offset-md-1 offset-sm-1 col-12 mt-4">
                <form id="algin-form">
                    <div class="form-group">
                        <h4>Escribe un comentario</h4>
                        <textarea name="msg" id="msg" msg cols="30" rows="5" class="form-control" style="background-color: #99C2BC;"></textarea>
                    </div>
                    <div class="form-group">
                        <button type="button" id="post" class="btn" (click)="postComment()">Publicar comentario</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
</body>