<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.7.1/leaflet.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.7.1/leaflet.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet-gpx/1.7.0/gpx.min.js"></script>

<div class="row row-map">
    <div class="col-md-9">
        <h2 class="heading">Map</h2>
        <hr/>
      <div id="map"></div>
    </div>
    <div class="col-md-3 info-container">
      <div id="run-info">
        <!--
        <h2 class="heading">Activity Data</h2>
        <hr/>
        <div class="data-heading">Activity Name:</div>
        <p class="data-entry">{{ activity.Name }}</p>
        <hr/>
  
        <div class="data-heading">Date:</div>
        <p class="data-entry">{{ activity.Date }} <p>
        <hr/>
  
        <div class="data-heading">Total Distance:</div>
        <p class="data-entry">{{ activity.Kilometers }} kilometers</p>
        <hr/>
  
        <div class="data-heading">Type:</div>
        <p class="data-entry">{{ activity.Type }}</p>
        <hr/>-->
      </div>
    </div>
</div>
  