<app-header></app-header>
<body>
    <p><br><br></p>
  <div class="card px-5 py-3">
    <!-- Forms of destination and origin-->
    <div id="Flight" class="w3-container ">
      <form name="form" (ngSubmit)="f.form.valid && getAthletes()" #f="ngForm">
        <h3>Encuentra a otros atletas alrededor del mundo</h3>
        <h4>Escribe el nombre del atleta que deseas buscar</h4>
        <div class="w3-row-padding" style="margin:0 -16px;">
          <div class="w3-border">
            <input class="w3-input w3-border" type="text" placeholder="Ejemplo: Pedro Perico"
            [(ngModel)]="AthleteName" name="Name" #name = "ngModel"
            [ngClass]="{'is-invalid':f.submitted && name.invalid}"
            required>
          </div>
        </div>
        <h3></h3>
        <button class="btn" type="submit">Buscar</button>
      </form>
    </div>
  </div>
  <!-- Display of all the athletes -->
  <div class="container px-5 py-3" *ngIf=State>
    <div class="card px-5 py-3">
      <li *ngFor="let hero of AthletesArray">
        <div class="row">
          <div class="col-sm-8 p-3">
            <div class="row">
              <div class="col-sm">
                <span class="left"><img [src]="hero.Photo" *ngIf="hero.Photo" style="height: 85px; width:90px"></span>
                <span class="col-3"> <i class="bi bi-person-fill"></i>{{hero.Name + ' '+ hero.Lastname}} <br>
                                     <i class="bi bi-trophy-fill"></i>{{hero.Category}}<br>
                                     <i class="bi bi-pin-map-fill"></i>{{hero.Nationality}}
                </span>
                <span class="right"><button class="btn" (click)="followAthlete(hero.Username)" style="float: right;">Seguir</button></span>
              </div>
            </div>
          </div>
        </div>
      </li>
    </div>
  </div>
</body>
<app-footer></app-footer>
